.dropdownButton {
    position: relative;
    width: 100%;
}
.dropdownButtonBtn{
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 3px;
    background: none;
    color: white;
    text-decoration: underline blue;
    font-weight: 500;
    transition: 0.3s;
}

.dropdownButtonBtn:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    background: white;
    width: 0;
    transition: 0.3s;
}
.dropdownButtonBtn:hover:before{
    left: 0;
    width: 100%;
}

.dropdownButtonDiv{
    position: absolute;
    bottom: -250%;
    left: -135%;
    background-color: rgba(93, 93, 93, 0.99) ;    
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(59, 59, 59);
}
.dropdownButtonDiv a {
    color: white;
    text-decoration: none;
    height: 100%;
    border-right: 1px solid white;
    padding: 0 0.5rem;
    transition: 0.1s;
}
.dropdownButtonDiv a:hover{
    color: rgb(216, 216, 216);
}
.dropdownButtonDiv a:nth-child(3){
    padding-right: 0;
    border: none;
}
.dropdownButtonDiv a:nth-child(1){
    padding-left: 0;
}
.displayNone{
    opacity: 0;
}