{% extends 'cities/index.html' %} {% load static %}
{% block content %}
<section class="main_container">
    {% for university in universities %}
    <div class="mainCard">
        {% for image in university.university_image.all %}
    <img style="width: 100%; left: 0;  position: absolute;" src="{{ image.image.url }}">
        {% endfor %}
        <div class="mainCard_inside ">
            <div class="mainCard_inside_content ">
                <p style="margin-top: 20px;">{{ university.university }}</p>
                <div>
                    <a style="margin-bottom: 20px" href="{% url 'university' university.id %}">
                        <button style="margin-top: 40px">read more</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}