{% extends 'single_index.html' %}
{% load static %}
{% block content %}
<div id="fh5co-title-box" style="background-image: url({{ university.university_image.first.image.url  }})"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <span>{{ university.city }}</span>
        <h2>{{ university.university }}</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <h4>{{university.description }}</h4>
            </div>
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <h4>count of students: {{university.number_of_people }}</h4>
            </div>
        </div>
    </div>
</div>
{% if user.is_superuser %}
<div style="margin-left:310px">
    <a href="{% url 'delete_university' university.id %}">
        <button class='deleteBtn'
            style="background: red ; margin-right: 10px ; outline: none ; border: none; color: white ; font-weight: bolder ; padding: 10px ; border-radius: 10px ; cursor: pointer">
            удалить
        </button>
    </a>
    <a href="{% url 'update_university' university.id %}">
        <button class='deleteBtn'
            style="background: green ; margin-right: 10px ; outline: none ; border: none; color: white ; font-weight: bolder ; padding: 10px ; border-radius: 10px ; cursor: pointer">
            изменить
        </button>
    </a>
</div>
{% endif %}
{% for comment in university.university_comments.all %}
<div class="comments p-3">
    {{ comment.text }}
</div>
{% endfor %}
{% if user.is_authenticated %}
<div class="card-footer p-0 d-flex">
    <form method="post" class="form-control">
        {% csrf_token %}
        <input type="hidden" name="university_id" value="{{ university.id }}">
        <input type="text" name="comment_text" class="form-control" placeholder="Оставьте комментарии...">
        <button type="submit" name="comment" class="btn btn-danger">
            Comment
        </button>
    </form>
</div>
{% else %}
<h4 style="color: red">Login user or Register to send message</h4>
{% endif %}
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">faculties</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                {% for faculty in university.faculty.all %}
                <div class="fh5co_hover_news_img">
                    <div>
                        <a href="{% url 'faculty_detail' faculty.id %}" class="d-block fh5co_small_post_heading">
                            <span class="">
                                {{ faculty.faculty}}
                            </span>
                        </a>
                        <div class="c_g">price: {{ faculty.price }}</div>
                    </div>
                    <div>
                        ---------------------------------------------
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}