{% extends 'single_index.html' %}
{% load static %}
{% block content %}
<div id="fh5co-title-box" style="background-image: url({{ university.university_image.first.image.url  }})"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <span>{{ university.date_of_born }}</span>
        <h2>{{ university.university }}</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <h4>{{university.description }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">faculties</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                {% for faculty in university.faculty.all %}
                <div class="fh5co_hover_news_img">
                    <div>
                        <a href="{% url 'faculty_detail' faculty.id %}" class="d-block fh5co_small_post_heading">
                            <span class="">
                                {{ faculty.faculty}}
                            </span>
                        </a>
                        <div class="c_g">price: {{ faculty.price }}</div>
                    </div>
                    <div>
                        ---------------------------------------------
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}