{% extends 'index.html' %}{% load static %}
{% block content %}
{% if user.is_superuser %}
<div style="margin-top:30px; margin-left:30px">
    <a href="{% url 'delete_faculty' faculty.id %}">
        <button class='deleteBtn'
            style="background: red ; margin-right: 10px ; outline: none ; border: none; color: white ; font-weight: bolder ; padding: 10px ; border-radius: 10px ; cursor: pointer">
            удалить
        </button>
    </a>
    <a href="{% url 'update_faculty' faculty.id %}">
        <button class='deleteBtn'
            style="background: green ; margin-right: 10px ; outline: none ; border: none; color: white ; font-weight: bolder ; padding: 10px ; border-radius: 10px ; cursor: pointer">
            изменить
        </button>
    </a>
</div>
{% endif %}
<div style="margin-top:25px; margin-left:30px">

    <h3>{{ faculty.university }}</h3>
    <h1>{{ faculty.faculty }}</h1>

    <a>{{ faculty.description }} </a>
    <div style="margin-top:15px">
        <p>{{ faculty.price }}</p>
    </div>
    {% if faculty.open_or_close %}
    <div class="card-footer p-0 d-flex">
        <form method="post" class="form-control">
            {% csrf_token %}
            <input type="hidden" name="faculty_id" value="{{ faculty.id }}">
            <input style="margin-bottom: 15px;" type="text" name="email" class="form-control" placeholder="enter email">
            <input style="margin-bottom: 15px;" type="text" name="first_name" class="form-control" placeholder="enter first name"> 
            <input style="margin-bottom: 15px;" type="text" name="last_name" class="form-control" placeholder="enter last name"> 
            <input style="margin-bottom: 15px;" type="text" name="number_of_phone" class="form-control" placeholder="enter number of phone"> 
            <button style="margin-bottom: 15px;" type="submit" name="application" class="btn btn-danger">
                Comment
            </button>
        </form>
    </div>
    {% else %}
    <a>набор закрыт</a>
    {% endif %}
</div>


<div>
    <div style="margin-left: 32px; margin-top: 20px;" >
        <h5>общее кол-во заявок:</h5><h2>{{ faculty.application_faculty.all.count }}</h2>
    </div>
    <!-- {% for aplication in faculty.application_faculty.all %}
    <div style="margin-left: 32px; margin-top: 20px;">
        <p>{{ aplication.first_name }}---{{ aplication.create_at }}</p>
        <p></p>
    </div>
    {% endfor %} -->
</div>

{% endblock %}