{% extends 'index.html' %} {% load static %}
{% block content %}
<section class="main_container">
    {% for university in universities %}
    <div class="mainCard">
    <img src="static/image/photo.jpg">
        <div class="mainCard_inside ">

            <div class="mainCard_inside_content ">
                <p>{{ university.university }}</p>
                <a style="margin-bottom: 20px" href="{% url 'university' university.id %}">
                    <button>read more</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}