{% extends 'index.html' %}{% include 'include/navbar.html' %}{% load static %}
{% block content %}
<div class="mainCard" href="#">
            <img src="">
            <div class="mainCard_inside ">
                <h3>{{ population.city }}</h3>
                <div class="mainCard_inside_content ">
                    <p>{{ city.description }}</p>
                    <a href="#">
                        <button>read more</button>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}