{% extends 'single_index.html' %}
{% load static %}
{% block content %}
<div id="fh5co-title-box" style="background-image: url({{ city.city_image.first.image.url }})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <span>{{ city.date_of_born }}</span>
        <h2>{{ city.city }}</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    {{ city.description }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Universities</div>
        </div>
        <div style="display: flex; flex-wrap: wrap;" class="d-flex d-wrapper">
            {% for univer in city.univer.all %}
            <div class="owl-theme">
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img">
                            <img style="width: 300px;" src="{{ univer.university_image.first.image.url }}" alt=""/>
                        </div>
                        <div>
                            <a href="{% url 'university' univer.id %}" class="d-block fh5co_small_post_heading"><span class="">{{ univer.university }}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{ univer.date_of_born }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</html>
{% endblock %}